<!DOCTYPE html>
<html>
  <head>
    <title>jQuery WeUI</title>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

  <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
  <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/demos.css') }}">
  <script src="//libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
  <script src="//api.map.baidu.com/api?v=2.0&ak=TXchWUVPs67PhSxZVcYCiuOZXzz0RB53	" type="text/javascript"></script>
  <script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/swiper.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/city-picker.min.js"></script>
  </head>

  <body ontouchstart>


    <header class='demos-header' style="margin-bottom: 10%">
    <div class="weui-grid__icon">
      <img src="{{ url_for('static',filename='images/comment.png') }}" alt="">
    </div>
    </header>


      <div class="weui-form-preview">
  <div class="weui-form-preview__hd">
    <label class="weui-form-preview__label"></label>
    <em class="weui-form-preview__value" style="font-size: 100%">用户评价</em>
  </div>
  <div class="weui-form-preview__bd">
  <div class="weui-form-preview__item">
    {% if ll >=1 %}
    <label class="weui-form-preview__label" style="white-space:nowrap;float:left">{{ data[0]['name'] }}</label>
    {% else %}
    <label class="weui-form-preview__label" style="white-space:nowrap;float:left">用户未参加</label>
    {% endif %}
  <input class="weui-input" id="picker1" style="width: 50%" placeholder="请选择"></input>
  </div>
  <div class="weui-form-preview__item">
    {% if ll >=2 %}
    <label class="weui-form-preview__label" style="white-space:nowrap;float:left">{{ data[1]['name'] }}</label>
    {% else %}
    <label class="weui-form-preview__label" style="white-space:nowrap;float:left">用户未参加</label>
    {% endif %}
  <input class="weui-input" id="picker2" style="width: 50%" placeholder="请选择"></input>
  </div>
  <div class="weui-form-preview__item">
        {% if ll >=3 %}
    <label class="weui-form-preview__label" style="white-space:nowrap;float:left">{{ data[2]['name'] }}</label>
    {% else %}
    <label class="weui-form-preview__label" style="white-space:nowrap;float:left">用户未参加</label>
    {% endif %}
  <input class="weui-input" id="picker3" style="width: 50%" placeholder="请选择"></input>
  </div>
  <div class="weui-form-preview__item">
        {% if ll >=4 %}
    <label class="weui-form-preview__label" style="white-space:nowrap;float:left">{{ data[3]['name'] }}</label>
    {% else %}
    <label class="weui-form-preview__label" style="white-space:nowrap;float:left">用户未参加</label>
    {% endif %}
  <input class="weui-input" id="picker4" style="width: 50%" placeholder="请选择"></input>
  </div>
  </div>
  <div class="weui-form-preview__ft">
    <a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:" onclick="comment()">提交</a>
    <a type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" href="/lk/my">返回</a>
  </div>
</div>
<script>
$("input").picker({
  title: "请选择您对该用户的评价",
  cols: [
    {
      textAlign: 'center',
      values: ['愉悦的拼车体验','迟到','信息虚假','骚扰用户','未支付费用']
    }
  ]
});
</script>
<script>
  function comment(){
    $.post('/lk/commentperson',
      {
          peoplecount:{{ ll }},
          comment1:$("#picker1").val(),
          comment2:$("#picker2").val(),
          comment3:$("#picker3").val(),
          comment4:$("#picker4").val(),
          tmpid:{{tmptmpid}},
      },
      function(data, status){

      });
  }
</script>
 </body>
</html>