{% extends 'base.html' %}
{% block body %}


<div>
    <img src={{ (information['headimgurl']|safe) }}   style="border: #000 solid 20%;  
                display: block;  
                margin: 10% auto;
                width:38%; 
                height:38%;  
                border-radius: 100%;  "></img>
</div>
<div style="text-align:center;margin:0 auto;font-size: 130%">
    <p>{{ (information['nickname']|safe) }}</p>
</div>
<div class="weui-cells">
<a class="weui-cell weui-cell_access" href="javascript:;" style="text-decoration:none">
    <div class="weui-cell__hd">
        <i class="glyphicon glyphicon-list-alt"></i>
        <br>
    </div>
    <div class="weui-cell__bd">
        <p>我的账单</p>
    </div>
    <div class="weui-cell__ft"></div>
</a>
<a class="weui-cell weui-cell_access" href="javascript:;" style="text-decoration:none">
    <div class="weui-cell__hd">
        <i class="glyphicon glyphicon-star"></i>
        <br>
    </div>
    <div class="weui-cell__bd">
        <p>我想去那</p>
    </div>
    <div class="weui-cell__ft"></div>
</a>
<a class="weui-cell weui-cell_access" href="javascript:;" style="text-decoration:none">
    <div class="weui-cell__hd">
        <i class="glyphicon glyphicon-map-marker"></i>
        <br>
    </div>
    <div class="weui-cell__bd">
        <p>我的好友</p>
    </div>
    <div class="weui-cell__ft"></div>
</a>
<a class="weui-cell weui-cell_access" href="javascript:;" style="text-decoration:none">
    <div class="weui-cell__hd">
        <i class="glyphicon glyphicon-flag"></i>
        <br>
    </div>
    <div class="weui-cell__bd">
        <p>我的目的地</p>
    </div>
    <div class="weui-cell__ft"></div>
</a>
</div>


{% endblock %}
