{% extends 'base.html' %} {% block body %}

<div class="weui-panel weui-panel_access">
  {% if select == "1" %}
  <div class="weui-panel__hd">查看拼车活动(点击查看详细信息)</div>
  {% else %}
   <div class="weui-panel__hd">评价拼车活动(点击进行用户评价)</div>
  {% endif %}
  <div class="weui-panel__bd">
    {% for i in data %}
    {% if i['openid'] != Session['openid'] %}
    <a href="{{ url_for('webapp.taxidetail',tmpid = i['id']) }}" onclick="" class="weui-media-box weui-media-box_appmsg" style="text-decoration:none;">
    {% else %}
    <a href="{{ url_for('webapp.mytaxidetail',tmpid = i['id']) }}" onclick="" class="weui-media-box weui-media-box_appmsg" style="text-decoration:none;">
    {% endif %}
      <div class="weui-media-box__hd">
        <img class="weui-media-box__thumb" src={{ i['headimgurl'] }}>
      </div>
      <p style="display: none" id="tmpid">{{ i['id'] }}</p>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__desc" id="nickname">{{ i['nickname']  }}</h4>
        <p class="weui-media-box__desc">目的地: {{ i['towhere'] }}</p>
        <p class="weui-media-box__desc">时间: {{ i['whenis'] }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
  <div class="weui-panel__ft">
    <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
      <div class="weui-cell__bd">查看更多</div>
      <span class="weui-cell__ft"></span>
    </a>    
  </div>
</div>
<script>
console.log({{ select }});
  function showshow(dom){
    var tmpid = $(dom).find("p").html();
    if({{ select }} == 1){
      //   $.get(
      //   '/lk/taxidetail',
      //   {
      //       tmpid:tmpid
      //   },
      //   function(data,status){

      //   }
      // );
      window.location.href = "/lk/my"
    }else{
        window.location.href = "/lk/comment"
    }

  }
</script>
<br><br><br><br>
{% endblock %}
